﻿body {
	/*background-color: #FFFFCE
  	/*padding-top: 10px;*/
  	text-align: center;
  	
  }
.head {
  padding: 10px 15px;
  
  font-size: 130%;
  color: brown;
}
.head2 {
	text-align: left;
	color: black;
}
.form {
	height: 100px;
	text-align: center;
}
.application {
	text-align: center;
	color:brown;
}


.foot {
	text-align: left;
	font-size: 130%;
}
.table>tbody>tr>th {
	text-align: left;
	
}
table {
	
	text-align: left;
	
}

footer {
	text-align: left;
	font-size: 130%;
} 

address{
	font-size: 80%;
    display: block;
    font-style: italic;
}
